.webtoons{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
}
body{
  margin: 0px;
  background-color: #D8D8D8;
}
.header{
  text-align: center;
  padding: 35px;
  background-color: #BEABD5;
  font-size: 100px;
  width: auto;
  margin: auto;
  justify-content: space-around;



}
.webtoon{
  padding-right: 5px;
  border-width: thin;
}
img{
  height: 275px;
  width: 200px;
}
#w1{
  width: 200px;
}
#w2{
    width: 200px;
}
#w3{
    width: 200px;
}
#w4{
    width: 200px;
}
#w5{
    width: 200px;
}
#w6{
    width: 200px;
}
#w7{
    width: 200px;
}
#w8{
    width: 200px;
}
#w9{
    width: 200px;
}
#w10{
    width: 200px;
}
#w11{
    width: 200px;
}
#w12{
    width: 200px;
}
#w13{
    width: 200px;
}
#w14{
    width: 200px;
}
#w15{
    width: 200px;
}
#w16{
    width: 200px;
}
#w17{
    width: 200px;
}
#w19{
    width: 200px;
}
#w20{
    width: 200px;
}
#w21{
    width: 200px;
}
#w22{
    width: 200px;
}
#w23{
    width: 200px;
}
#w24{
    width: 200px;
}
