.webtoons{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
}
body{
  margin: 0px;
  background-color: #D8D8D8;
}
.header{
  text-align: center;
  padding: 35px;
  background-color: #BEABD5;
  font-size: 100px;
  width: auto;
  margin: auto;
  justify-content: space-around;
}
.deleteButton{

}

.titlePara{
  margin: 0;
  padding: 0;
}

.webtoon{
  padding-right: 5px;
  border-width: thin;
  width: 200px;
}

.delete_edit_button{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.titleLine{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img{
  height: 275px;
  width: 200px;
}
