.webtoons{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;

}
body{
  margin: 0px;
  background-color: #D8D8D8;
}
.header{
  text-align: center;
  padding: 35px;
  background-color: #BEABD5;
  font-size: 100px;
  width: auto;
  margin: auto;
  justify-content: space-around;
}
.formDiv{
  border-color: #BEABD5;
  border-width: thick;
  border-style: solid;
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: auto;
  position: relative;
  background-color: #BEABD5;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.addForm{
  display:flex;
  align-items: center;
}
label{
  font-size: 25px;
  float: left;
  width: 25em;
  margin-right: .1em;
  margin-left: 11px;
}
#linkGiven{
  width: 175px;
  height: 20px;
}
#picGiven{
  width: 175px;
  height: 20px;
}
#titleGiven{
  width: 175px;
  height: 20px;
}
#chapterGiven{
  width: 175px;
  height: 20px;
}
#submitAddForm{
  width: 70px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}
.editFormDiv{
  border-color: #BEABD5;
  border-width: thick;
  border-style: solid;
  border-radius: 15px;
  width: 500px;
  height: 600px;
  margin: auto;
  position: relative;
  background-color: #BEABD5;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2{
  text-align: center;
}
#linkGivenEdit{
  width: 475px;
  height: 35px;
}
#picGivenEdit{
  width: 475px;
  height: 35px;
}
#titleGivenEdit{
  width: 475px;
  height: 35px;
}
#chapterGivenEdit{
  width: 475px;
  height: 35px;
}
#editbutton{
  font-size: 20px;
  border-radius: 5px;
}

.titlePara{
  margin: 0;
  padding: 0;
  text-align: center;
}

.webtoon{

  padding-right: 5px;
  border-width: thin;
  width: 200px;
}
.chapterLine{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.chapterSize{
  font-size: 17px;
}

.delete_edit_button{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}
.titleLine{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 45px;
  justify-content: center;
}
img{
  height: 275px;
  width: 200px;
}
